@import 'styles/_colors.scss';

.wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.card {
  display: grid;
  gap: 2rem;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem auto 5rem auto;
  cursor: default;

  @media screen and (max-width: 736px) {
    grid-template-columns: 1fr;
  }
}
