$black: #000;
$white: #fff;
$grey: #272a2b;
$red: red;
$blue: #4f9ac8;
$dark-blue: #1e618a;
$light-grey: #d9dada;
$green: #008000;
$medium-green: #c3edb9;
$light-green: #eefde3;
$red: #e60537;
$medium-red: #e36887;
$light-red: #f7d7df;
