@import 'styles/_colors.scss';

.footer {
  height: 6rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $grey;
  padding: 0 1rem;

  @media screen and (max-width: 736px) {
    font-size: 1.4rem;
  }

  &__content {
    display: flex;

    @media screen and (max-width: 736px) {
      flex-direction: column;
    }
  }

  &__title {
    &:hover {
      color: $blue;
    }
  }

  &__icon {
    cursor: pointer;
    padding-right: 1rem;
  }
}
